@import 'variables';
@import 'fonts.scss';

*{
    margin:0px auto;
}

ul {
  list-style-type: none;
  padding:0;
}

.container {
  font-family:Fira-Sans-Light;
  font-size:16px;
  color:$darkgrey;
  width:$containerwidth;
}

.overal {
  position:absolute;
  top:50%;
  left:50%;
  height:auto;
  margin-top:-($containerheight/2);
  margin-left: -($containerwidth/2);
  background-color:red;
}

.context{
  margin-top:50px;
  background-color:grey;
  height: auto;
}

#notenoughinformation {
  font-family:Fira-Sans;
  font-size:18px;
  color:red;
  width:$containerwidth;
  height:30px;
  position: absolute;
  top:75%;
  left:50%;
  margin-left:-($containerwidth/2);
  text-align:center;
}

.formunit-container {
  position: relative;
  margin-bottom:30px;
  padding-top:10px;
}

.formunit {
  float:left;
  width:$containerwidth;
  height:$formunitheight;
}

.formtext-container {
  top:10px;
  left:0px;
}

.input {
  font-family:Fira-Sans-light;
  font-size:16px;
  position: absolute;
  right:0px;
  top:0px;
  width:470px;
  height:30px;
  padding-left:10px;
}

.inputbutton {
  font-family: Fira-Sans;
  width:$containerwidth;
  padding-top:10px;
  text-align: center;
  height:30px;
  color:white;
  background-color: $ergatisblue;
  cursor:pointer;
}

#backbutton {
  background-color: $ergatisblack;
  float:left;
}

#context2 {
  font-family:Fira-Sans-Light;
  height:auto;
  ul {
    margin-bottom:30px;
  }
  position: inherit;
}
