@import 'variables';
@import 'fonts.scss';

*{
    margin:0px auto;
}

ul {
  list-style-type: none;
  padding:0;
  margin-top:50px;
}

#container {
  font-family:Fira-Sans;
  font-size:16px;
  color:darkgrey;
  position:absolute;
  top:50%;
  left:50%;
  width:$containerwidth;
  height:$containerheight;
  // background-color: lightblue;
  margin-top:-($containerheight/2);
  margin-left: -($containerwidth/2);
  overflow: hidden;
  // img {
  //   margin-top:50px;
  // }
}

.formunit {
  float:left;
  // background-color:green;
  width:$containerwidth;
  height:$formunitheight;
  position: relative;
}

.formtext-container {
  top:10px;
  left:0px;
  position: absolute;
}

.input {
  position: absolute;
  right:0px;
  top:0px;
  width:470px;
  height:30px;
}

#inputbutton {
  padding-top:10px;
  text-align: center;
  margin-top:320px;
  height:30px;
  color:white;
  background-color: $ergatisblue;
  cursor:pointer;
}
