@font-face {
  font-family: Fira-sans;
  src: url("styles/fonts/Fira_Sans/FiraSans-Medium.ttf"); }

@font-face {
  font-family: Fira-sans-light;
  src: url("styles/fonts/Fira_Sans/FiraSans-Light.ttf"); }

* {
  margin: 0px auto; }

ul {
  list-style-type: none;
  padding: 0; }

.container {
  font-family: Fira-Sans-Light;
  font-size: 16px;
  color: #434d53;
  position: absolute;
  width: 700px;
  overflow: hidden; }

.overal {
  top: 50%;
  left: 50%;
  height: 440px;
  margin-top: -220px;
  margin-left: -350px; }

.context {
  margin-top: 50px;
  height: 240px; }

#notenoughinformation {
  font-family: Fira-Sans;
  font-size: 18px;
  color: red;
  width: 700px;
  height: 30px;
  position: absolute;
  top: 75%;
  left: 50%;
  margin-left: -350px;
  text-align: center; }

.formunit {
  float: left;
  width: 700px;
  height: 50px;
  position: relative; }

.formtext-container {
  top: 10px;
  left: 0px;
  position: absolute; }

.input {
  font-family: Fira-Sans-light;
  font-size: 16px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 470px;
  height: 30px;
  padding-left: 10px; }

.inputbutton {
  font-family: Fira-Sans;
  width: 700px;
  padding-top: 10px;
  text-align: center;
  height: 30px;
  color: white;
  position: absolute;
  bottom: 0px;
  background-color: #00a3d3;
  cursor: pointer; }

#backbutton {
  background-color: #434d53; }

#container-context ul {
  margin-bottom: 30px; }
