* {
  margin: 0px auto; }

ul {
  list-style-type: none; }

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 450px;
  background-color: lightblue;
  margin-top: -225px;
  margin-left: -350px; }

.form {
  position: relative;
  width: 700px;
  height: 30px;
  background-color: red; }

.formname {
  float: left;
  width: 500px;
  height: 30px; }

.formname-container {
  float: left;
  top: 0px;
  left: 0px;
  position: absolute;
  width: 200px;
  height: 30px; }

.input {
  position: absolute;
  right: 0px;
  top: 0px;
  float: right; }
